<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.f8full.casserolesencours"
    android:versionCode="10"
    android:versionName="v0.2.1" >
    
    <!-- permissions for the Alohar SDK -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.NoTitleBar"
        android:label="@string/app_name" >
        <activity
            android:name=".CasserolesEnCoursActivity"
            android:configChanges="keyboardHidden|orientation"
                     
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".LogActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="org.livinglabmontreal.OAuth2AccessTokenActivity" android:launchMode="standard">>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="localhost"  />
			</intent-filter>
		</activity>
		
        <activity
            android:label="@string/app_name"
            android:name=".CasserolesEnCoursViewerActivity" >
        </activity>
		
        <!-- services -->
        <!-- add those services to use Alohar SDK -->
		<service android:enabled="true" android:name="com.alohar.core.ALCoreService" />
		<service android:enabled="true" android:name="com.alohar.core.ALMasterService" />
		<receiver android:name="com.alohar.core.ALBroadcastReceiver" android:enabled="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"></action>
			</intent-filter>
		</receiver>
		
		<uses-library android:name="com.google.android.maps" />
		
    </application>

</manifest>